@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  cursor: none !important;
}

/* Or more specifically: */
html, body {
  cursor: none;
}
.rev-shape{
  rotate: 180deg;
}

@font-face {
  font-family: 'acorn';
  src: url('/public/acorn/Acorn/Acorn-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt';
  src: url('/public/GT-America/GT-America-Compressed-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --titleFont: 'acorn', sans-serif;
  --bodyFont: 'gt', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titleFont);
  margin: 0;
}

body, p, span, input, button {
  font-family: var(--bodyFont);
}
body {
  font-family: var(--bodyFont);
  margin: 0;
}

